@{
    ViewBag.Title = "whoweare";
}

<div class="container content profile">
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">About SAM</h1>
           
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row margin-bottom-40">
            <div class="col-md-6 md-margin-bottom-40">
                <p>The Senegalese Association of Minnesota was formed:</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-check color-green"></i> To study the social, cultural, educational and economic problems of the Senegalese population in Minnesota</li>
                    <li><i class="fa fa-check color-green"></i>To aid in the gathering of Senegalese with disregard to their beliefs, philosophies, religious and political affiliations</li>
                    <li><i class="fa fa-check color-green"></i> To maintain and strengthen their socio-cultural values and traditions</li>
                    <li><i class="fa fa-check color-green"></i> To take part in the community’s economic development.</li>
                   
                </ul><br />
                <!-- Blockquotes -->
                <blockquote class="hero-unify">
                    <p>Bringing the senegalese social and community into perspective </p>
                    <small>President, Khady Aidara</small>
                </blockquote>
            </div>
            <div class="col-md-6 md-margin-bottom-40">
                <div class="responsive-video">
                    <iframe src="https://player.vimeo.com/video/206187705" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <p><a href="https://vimeo.com/206187705">20140413 134125</a> from <a href="https://vimeo.com/user63516387">ABOUBACAR</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
            </div>
        </div><!--/row-->
        <!-- Meer Our Team -->
        <div class="headline"><h2>Meet Our Executive Committee</h2></div>
        <div class="row team">
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="~/Images/amina.jpg" alt="" />
                    <h3><a>Khady Aidara</a> <small>President</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="assets/img/team/img39-md.jpg" alt="" />
                    <h3><a>Kate Metus</a> <small>Project Manager</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="assets/img/team/img35-md.jpg" alt="" />
                    <h3><a>Porta Gravida</a> <small>VP of Operations</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="thumbnail-style">
                    <img class="img-responsive" src="assets/img/team/img19-md.jpg" alt="" />
                    <h3><a>Donec Elit</a> <small>Director, R &amp; D Talent</small></h3>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                    <ul class="list-unstyled list-inline team-socail">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!--/team-->
        <!-- End Meer Our Team -->
        <!-- Owl Clients v1 -->
       
        <!-- End Owl Clients v1 -->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    </div>
