<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SAMDBEntities" connectionString="metadata=res://*/SAMDBEntities.csdl|res://*/SAMDBEntities.ssdl|res://*/SAMDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-0K7RGRQ;initial catalog=SAMDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="SAMDBEntities" connectionString="metadata=res://*/SAMDBEntities.csdl|res://*/SAMDBEntities.ssdl|res://*/SAMDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.47.15;Initial Catalog=SAMDB;Persist Security Info=True;User ID=latdiordiop;Password=Damel24@;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
